.bigTimer {
    padding-left: 30%;
    font-size: 300%;
}

#div_timersConfiguration label{
    margin-right: 25px;
}

.div_timer_configuration_label_0{
    background :  #cce6ff;
}

.div_timer_configuration_label_1{
    background : #66d9ff;
}

.div_timer_configuration_label_2{
    background :  #aa80ff;
}
.div_timer_configuration_label_3{
    background :  #ff66ff;
}
.div_timer_configuration_label_4{
    background : #ff6666;
}
.div_timer_configuration_label_5{
    background : #ffcc80;
}
.div_timer_configuration_label_6{
    background :  #9fff80;
}
.div_timer_configuration_label_7{
    background :  #aaff00;
}
.div_timer_configuration_label_8{
    background :  #33ff99;
}
.div_timer_configuration_label_9{
    background :  #66b3ff;

}.div_timer_configuration_label_10{
    background :  #e67300;
}

.darkMode, .darkMode input{
    background : #1e1e1f;
    color : #ffffff;
}

.lightMode, .lightMode input{
    background : #ffffff;
    color : #000000;
}

.tbl_exhaustedTimersInfo {
 border-spacing: 10px;
 border-collapse: separate;
 text-align : center;
}

table td, th{
    padding-left: 15px;
}

.divBoundary {
    border: 1px solid #ccc2c2;
    padding: 5px;
    display: flex;
    gap: 10px; /* Add space between buttons */
}

.divBoundary input[type="button"] {
    flex: 1; /* Make buttons take equal width */
    margin: 0; /* Remove default margin */
}

.btnSmall {
    height: 30px; /* Maintain consistent height with other buttons */
    margin: 0; /* Remove default margin */
    flex: none; /* Override flex property to prevent equal width */
}

#div_timersConfiguration {
    margin-top: 10px;
}